body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main-header {
    width: 100%;
    height: 50px;
    padding: 0 15px;
    background: #0747a6;
    box-sizing: border-box;
}

.main-header__nav {
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.main-header__item {
    height: 100%;
}

.main-header__item a {
    display: flex;
    height: 100%;
    align-items: center;
    color: white;
    padding: 0 15px;
    text-decoration: none;
    border: 1px solid transparent;
    box-sizing: border-box;
}

.main-header__item a:hover,
.main-header__item a:focus,
.main-header__item a.active {
    /*color: rgba(7,71,166,.3);*/
    /*color: #0700a6;*/
    background: #0700a6;
    border-left-color: #002aa6;
    border-right-color: #002aa6;
}

main {
    padding: 10px 15px;
}

.grid {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
}

.grid > * {
    padding: 10px;
    box-shadow:  0 0 2px rgba(0,0,0,.3);
}

.card__image {
    max-width: 200px;
}

.card__image img {
    width: 100%;
}
